<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./style.css" />
    <title>Resilia Notifications System</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js">
      document.cookie = "Set-Cookie: promo_shown=1; SameSite=None; Secure"
    </script>
  </head>
  <body>
    <%- include('notifications') -%> 
    <script src="./app.js">
    </script>
  </body>
</html>
