<div id="notifications">
  <div class="notifications-section">
    <a class="not_submit" href="#" onclick="getNotifications()"
      >Get New Notifications</a
    >
  </div>

  <% if (data.message) { %>
  <div id="notifications-section">
    <div class="notifications-container">
      <% if (data.notifications.length) { %> <%
      data.notifications.forEach((notification, i) => { %>
      <div class="notification"><%= i+1%> <%= notification %></div>
      <% }); %> <% } else { %>
      <div>No Notifications!</div>
      <% } %>
    </div>
  </div>
  <% } %>
</div>
