<div class="temperature">
        <div class="degree-section">
          <h2 class="temperature-degree">34</h2>
          <span>F</span>
        </div>
        <div class="temperature-description">Its friggin cold</div>
      </div>