.not_submit {
  color: black;
  background-color: lightgray;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}

#notifications-container {
  width: 50%;
}

.header {
  width: 50%;
}

.notification {
  background-color: rgb(173, 239, 198);
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 20px;
  height: auto;
  margin: 20px;
}

#notifications-section {
  align-items: center;
  padding: 10px;
}