* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.add_sc {
  background-color:lightgrey;
  color:black;
  font-size:10px;
  padding:1px;
  margin:2px;
  width: auto;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
body {
  height: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
  overflow: scroll;
}

.card-container {
  align-items: center;
}

.city-input,
.city-label,
.not_submit {
  margin: 2px;
  width: auto;
  padding: 2px;
}

.not_submit {
  background-color: lightgrey;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  text-decoration: none;
}

#container {
  margin: 20px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

#form {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.form-section {
  align-items: center;
  padding: 20px;
}

#inner-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  flex-wrap: wrap;
  height: auto;
}

.lp-json-pollock {
  width: 150px;
  height: auto;
  position: none;
}

.p {
  width: auto;
  height: auto;
  display: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 2px;
}

.paging {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  width: auto;
}

.sc-placeholder {
  font-size:12px;
  border:1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

ul {
  height: auto;
  width: 500px;
  column-count: 2;
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: auto;
}
